<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Dịch Vụ</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body style="background-color: powderblue">
<div th:replace="layout :: head"></div>
<div th:replace="/layout :: nav"></div>
<H3 style="text-align: center">Danh Sách Các Dịch Vụ</H3>
<div class>
    <div class="row">
        <div class="col-lg-4 ">
            <div class="d-flex">
                <a href="/facility/addService" style="color: red">
                    <button>Thêm mới</button>
                </a>

            </div>
        </div>
        <div class="col-lg-4 ">
            <p th:text="${messService}"></p>
        </div>
        <div class="col-lg-4 ">
            <div class="container-fluid">
                <form action="/facility/search" method="get">
                    <input type="text"  name="key" th:value="${keyFacilityWord}"
                           placeholder="Search tên dịch vụ" aria-label="Search">
                    <button type="submit">Search</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<a href="" class="container-fluid">-->
<!--    <button type="submit">Sắp xếp</button>-->
<!--</a>-->

<div>
    <table class="table table-success table-striped" id="tableCustomer" style="text-align: center">
        <thead>
        <tr style="text-align: center;">
            <th>STT</th>
            <th>Tên dịch vụ</th>
            <th>Diện Tích(m <sup>2</sup>)</th>
            <th>Giá Thuê</th>
            <th>Số Người</th>
            <th>Kiểu Thuê</th>
            <th>Loại Dịch Vụ</th>
            <th>View</th>
            <th>Edit</th>
            <th>xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="facility, loop:${facilityList}">
            <td th:text="${loop.count + 5 * facilityList.number}"></td>
            <td th:text="${facility.facilityName}"></td>
            <td th:text="${facility.facilityArea}"></td>
            <td th:text="${#numbers.formatCurrency(facility.facilityCost)}"></td>
            <td th:text="${facility.facilityMaxPeople}"></td>
            <td th:text="${facility.rentalType.rentTypeName}"></td>
            <td th:text="${facility.serviceType.serviceTypeName}"></td>
            <td>
                <a th:href="@{/facility/{id}/view(id=${facility.facilityId})}">
                    <button type="button" class="btn btn-outline-danger">
                        View
                    </button>
                </a>
            </td>
            <td>
                <a type="button" class="btn btn-outline-danger"
                   th:href="@{/facility/editService(id=${facility.facilityId})}">
                    Sửa
                </a>
            <td class="text-center">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        onclick="objDelete(this.value)" th:value="${facility.facilityId}+','+${facility.facilityName}">
                    Delete
                </button>
            </td>
        </tr>
    </table>
    <div>
        <div class="col-lg-12">
            <a th:href="@{/facility(page=${facilityList.number - 1 })}"
               th:if="${facilityList.hasPrevious()}">
                Previous
            </a>
            <span th:text="${facilityList.number + 1}"></span>
            /
            <span th:text="${facilityList.totalPages}"></span>
            <a th:href="@{/facility(page=${facilityList.number + 1 })}"
               th:if="${facilityList.hasNext()}">
                Next
            </a>
        </div>
    </div>
    <form th:action="@{/facility/delete}" method="post">
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" hidden name="id" id="idDelete">
                        <span>do you want to delete? <span class="text-danger" id="nameDelete"></span></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function objDelete(name) {
            let arr = name.split(",");
            document.getElementById("nameDelete").innerText = arr[1];
            document.getElementById("idDelete").value = arr[0];
        }
    </script>
</div>
<div th:replace="/layout :: footer"></div>
</body>
</html>