<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<p>
    <a th:href="@{/products}">
        Quay lại danh sách sản phẩm
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/products/update}" th:object="${productList}"
          method="POST" novalidate="novalidate">
        <input type="text" readonly th:field="*{id}"/>
        <div>
            <label>Tên sản phẩm</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Loại sản phẩm</label>
            <input type="email" th:field="*{type}"/>
        </div>
        <div>
            <label>Nhãn hiệu</label>
            <input type="text" th:field="*{brand}"/>
        </div>
        <div>
            <label>Xuất xứ</label>
            <input type="text" th:field="*{country}"/>
        </div>
        <div>
            <label>Giá</label>
            <input type="text" th:field="*{cost}"/>
        </div>
        <input type="submit" value="update"/>
    </form>
</div>

</body>
</html>