<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h1>Cửa Hàng</h1>
<p>
    <a href="/shopping-cart">Giỏ hàng của bạn</a>
</p>
<table class="table table-success table-striped" style="text-align: center">
    <tr>
        <td>Hình ảnh</td>
        <td>Tên sản phẩm</td>
        <td>Giá</td>
        <td>Chọn</td>
    </tr>
    <th:block th:each="product:${productList}">
        <tr>
            <td><img th:src="${product.picture}" style="width:80px" alt=""></td>
            <td th:text="${product.name}"></td>
            <td th:text="${#numbers.formatCurrency(product.price)}"></td>
            <td><a th:href="@{/{id}/view(id=${product.getId()})}" >Chọn</a></td>
        </tr>
    </th:block>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</table>
</body>
</html>