<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Management Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div th:replace="layout :: head"></div>
<div th:replace="/layout :: nav"></div>
<div class="container-fluid">


    <div class="container-fluid">
        <p class="text-success" th:text="${mess}"></p>
        <div class="text-center mb-3">
            <h3>DANH SÁCH HỢP ĐỒNG</h3>
        </div>
        <table class="table table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Dịch vụ</th>
                <th>Khách hàng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tiền cọc</th>
                <th>Tổng tiền</th>
                <th>Các dịch vụ đi kèm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stt : ${contract}">
                <td th:text="${stt.count + 5 * contract.number}"></td>
                <td th:text="${item.facility.facilityName}"></td>
                <td th:text="${item.customer.customerName}"></td>
                <td th:text="${item.dateSignContract}"></td>
                <td th:text="${item.dateEnd}"></td>
                <td th:text="${item.deposit}"></td>
                <td th:text="${item.totalMoney}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modelIdCreate">+
                    </button>
                    <!-- Button trigger modal -->
                    <a th:href="@{/contract/showListAttach/{id} (id = ${item.idContract})}" class="btn btn-primary btn-sm">
                        Danh sách dịch vụ đi kèm
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-md-end align-items-center">
            <a th:href="@{/contract(page = ${contract.number - 1})}" th:if="${contract.hasPrevious}"
               class="btn btn-outline-primary btn-sm me-2">Previous</a>
            <span th:text="${contract.number + 1}"></span>/
            <span th:text="${contract.totalPages}"></span>
            <a th:href="@{/contract(page = ${contract.number + 1})}" th:if="${contract.hasNext}"
               class="btn btn-outline-primary btn-sm ms-2">Next</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">list of included services</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered ">
                        <thead class="bg-primary text-center text-light">
                        <tr>
                            <th>STT</th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Unit</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, stt : ${attachFacilityList}">
                            <td th:text="${stt.count}"></td>
                            <td th:text="${item.nameAttachService}"></td>
                            <td th:text="${item.cost}"></td>
                            <td th:text="${item.unit}"></td>
                            <td th:text="${item.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Từ chối</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Create Contract-->
    <form th:action="@{/contract/createContract}" method="post">
        <div class="modal fade" id="modelIdCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Ngày bắt đầu</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="startDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Ngày kết thúc</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="endDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Tiền gửi</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="deposit">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Tổng tiền</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" disabled id="total">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Khách hàng thuê dịch vụ</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" id="customer">
                                    <option th:each="item : ${customerList}" th:text="${item.customerName}"
                                            th:value="${item.customerId}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Dịch vụ</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example"
                                        id="idFacility">
                                    <option th:each="item : ${facilityList}" th:text="${item.facilityName}"
                                            th:value="${item.facilityId}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Dịch vụ đi kèm</label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" onclick="selContract()">+</button>
                            </div>

                            <div id="contractDetail">
                                <table class="table table-bordered ">
                                    <thead class="bg-primary text-center text-light">
                                    <tr>
                                        <th>STT</th>
                                        <th>Name</th>
                                        <th>Cost</th>
                                        <th>Unit</th>
                                        <th>Status</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, stt : ${detailContractList}">
                                        <td th:text="${stt.count}"></td>
                                        <td hidden>
                                            <div class="input-group">
                                                <input type="number" th:value="${item.attachService.idAttachService}"
                                                       class="form-control border-0 bg-white"
                                                       name="idAttach" disabled>
                                            </div>
                                        </td>
                                        <td th:text="${item.attachService.nameAttachService}"></td>
                                        <td th:text="${item.attachService.cost}"></td>
                                        <td hidden>
                                            <div class="input-group">
                                                <input type="number" th:value="${item.attachService.cost}"
                                                       class="form-control border-0 bg-white" name="costContractDetail"
                                                       disabled>
                                            </div>
                                        </td>
                                        <td th:text="${item.attachService.unit}"></td>
                                        <td th:text="${item.attachService.status}"></td>
                                        <td>
                                            <div class="input-group">
                                                <input type="number" class="form-control quantityContract"
                                                       name="quantity">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Hủy bỏ</button>
                        <input type="button" class="btn btn-outline-primary btn-sm" value="Tạo hợp đồng"
                               onclick="addNewContractDetail()">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <input type="text" hidden id="flag" th:value="${flag}">

    <script src="/js/bootstrap.min.js"></script>
    <script>
        let flag = $('#flag').val();
        if (flag == 1) {
            $(document).ready(function () {
                $("#modelId").modal('show');
            })
        }
    </script>

    <script>
        document.getElementById("contractDetail").style.display = "none";

        function selContract() {
            document.getElementById("contractDetail").style.display = "block";
        }
    </script>

</div>
<div th:replace="/layout :: footer"></div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>