<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Chi tiết</h3>
<p>
    <a th:href="@{/}">
        Quay lại danh sách
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <p th:text="${blogList.id}"></p>
    </div>
    <div>
        <label>Tiêu đề:</label>
        <p th:text="*{blogList.blogTitle}"></p>
    </div>
    <div>
        <label>Thể loại</label>
        <p th:text="*{blogList.getCategory().category}"></p>
    </div>
    <div>
        <label>Nội dung:</label>
        <p th:text="*{blogList.blogContent}" style="width: 300px"></p>
    </div>
</div>

</body>
</html>