<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Khách Hàng</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body style="background-color: powderblue">
<div  th:replace="/layout :: nav"></div>
<H3 style="text-align: center">Danh Sách Khách Hàng</H3>
<div>
    <div class="row">
        <div class="col-lg-4 ">
            <div class="d-flex">
                <a href="/customers/create">
                    <button>Thêm mới</button>
                </a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <p th:text="${mess}"></p>
        </div>
        <div class="col-lg-4 ">
            <div class="container-fluid">
                <form action="/customers/search" method="get">
                    <input type="text"  name="key" th:value="${keyword}"
                           placeholder="Search tên dịch vụ" aria-label="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table table-success table-striped"  style="text-align: center">
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Loại khách hàng</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
       <tr th:each="customer, status : ${customerList}">
           <td th:text="${status.count + 5 * customerList.number}"></td>
           <td th:text="${customer.customerName}"></td>
           <td th:text="${customer.getCustomerType().guestTypeName}"></td>
           <td th:text="${customer.customerBirth}"></td>
           <td th:if="${customer.customerGender}">nam</td>
           <td th:unless="${customer.customerGender}">nữ</td>
           <td>
               <a th:href="@{/customers/{id}/view(id=${customer.customerId})}">
                   <button type="button" class="btn btn-outline-danger">
                       View
                   </button>
               </a>
           </td>
           <td>
               <a th:href="@{/customers/formEdit(id=${customer.customerId})}">
                   <button type="button" class="btn btn-outline-danger">
                       Edit
                   </button>
               </a>
           </td>
           <td class="text-center">
               <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                       data-bs-target="#deleteModal"
                       onclick="objDelete(this.value)" th:value="${customer.customerId}+','+${customer.customerName}">
                   Delete
               </button>
           </td>
       </tr>
    </table>
    <div>
        <div class="col-lg-12">
            <a th:href="@{/customers(page=${customerList.number - 1 },
                key = ${keyword}, typeCustomer = ${typeList})}"
               th:if="${customerList.hasPrevious()}">
                Previous
            </a>
            <span th:text="${customerList.number + 1}"></span>
            /
            <span th:text="${customerList.totalPages}"></span>
            <a th:href="@{/customers(page=${customerList.number + 1 },
                key = ${keyword}, typeCustomer = ${typeList})}"
               th:if="${customerList.hasNext()}">
                Next
            </a>
        </div>
    </div>
    <form th:action="@{/customers/delete}" method="post">
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" hidden name="id" id="idDelete">
                        <span>do you want to delete? <span class="text-danger" id="nameDelete"></span></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </div>
                </div>
            </div>
        </div>
    </form>

<!--    <div class="modal fade" id="modalAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <form action="/customer?action=deleteCustomer" method="post">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title">Thông báo</h5>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body container-fluid">-->
<!--                        <p id="modalAlertMes"></p>-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <script>-->
<!--        window.onload = function () {-->
<!--            var message = document.getElementById("mess").value;-->
<!--            document.getElementById("modalAlertMes").innerText = message;-->
<!--            if (message != "" && message != null) {-->
<!--                $(document).ready(function () {-->
<!--                        $('#modalAlert').modal("show")-->
<!--                    }-->
<!--                )-->
<!--            }-->
<!--        }-->
<!--    </script>-->
    <script>
        function objDelete(name) {
            let arr = name.split(",");
            document.getElementById("nameDelete").innerText = arr[1];
            document.getElementById("idDelete").value = arr[0];
        }
    </script>
</div>
<div th:replace="/layout :: footer"></div>
</body>
</html>