<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body style="background-color: powderblue">
<div  th:replace="/layout :: nav"></div>
<H3 style="text-align: center">Danh Sách Các Dịch Vụ</H3>
<div class>
    <div class="row">
        <div class="col-lg-4 ">
            <div class="d-flex">
                <a href="/facility?action=create" style="color: red">
                    <button>Thêm mới</button>
                </a>

            </div>
        </div>
        <div class="col-lg-4 ">

        </div>
        <div class="col-lg-4 ">
            <div class="container-fluid">
                <form action="/facility?action=search" method="post">
                    <input required type="text" name="search">
                    <button type="submit">Tìm bằng tên</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="" class="container-fluid">
    <button type="submit">Sắp xếp</button>
</a>

<div>
    <table class="table table-success table-striped" id="tableCustomer">
        <thead>
        <tr style="text-align: center;">
            <th>Mã dịch vụ</th>
            <th>Tên dịch vụ</th>
            <th>Diện Tích(m <sup>2</sup>)</th>
            <th>Giá Thuê</th>
            <th>Số Người</th>
            <th>Kiểu Thuê</th>
            <th>Loại Dịch Vụ</th>
            <th>Tiêu Chuẩn Phòng</th>;
            <th>Tiện Nghi</th>
            <th>Diện Tích Hồ Bơi</th>
            <th>Số Tầng</th>
            <th>Dịch vụ đi kèm</th>
            <th>Edit</th>
            <th>xóa</th>
        </tr>
        </thead>
        <tbody>
            <tr style="text-align: center">
                <td>1</td>
                <td>Villa</td>
                <td>100</td>
                <td>2000$</td>
                <td>8</td>
                <td>Theo ngày</td>
                <td>Home</td>
                <td>PHÒNG SUITE HƯỚNG BIỂN</td>
                <td>Buffet</td>
                <td>30</td>
                <td>3</td>
                <td>Xe đưa đón</td>
                <td class="text-center">
                    <a th:href="@{/editService}">
                        <button type="button" class="btn btn-primary">
                            edit
                        </button></a>
                </td>
                <td class="text-center">
                    <!-- Button trigger modal -->
                    <button onclick="showInfoDelete('${facility.facilityId}','${facility.facilityName}')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/facility?action=delete" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="deleteId" id="deleteId">
                        <span>Bạn có muốn xóa dịch vụ: </span><span id="deleteName"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function showInfoDelete(id,name) {
            document.getElementById("deleteId").value= id;
            document.getElementById("deleteName").innerText=name;

        }
    </script>
</div>
<div th:replace="/layout :: footer"></div>
<script>
    $(document).ready(function() {
        $('#tableCustomer').dataTable( {
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        } );
    } );
</script>

</body>
</html>