<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3>Nghe Nhạc</h3>
<p>
    <a th:href="@{/music/create}">
        Add new song
    </a>
</p>
<table id = "music" class="table table-striped" style="text-align: center">
    <thead>
    <tr>
        <th>Tên bài hát</th>
        <th>Ca sĩ</th>
        <th>Bài hát</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musicList}">

        <td th:text="${music.musicName}" style="text-align: center"></td>

        <td th:text="${music.singleName}" style="text-align: center"></td>

        <td>
            <audio controls th:src="@{'/music-library/' + ${music.link}}"></audio>
        </td>

        <td>
            <a th:href="@{/music/edit(id=${music.id})}"><button class="btn btn-outline-success">edit</button></a>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    onclick="objDelete(this.value)" th:value="${music.id}+','+${music.musicName}">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/music/delete}" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden name="id" id="idDelete">
                    <span>do you want to delete? <span class="text-danger" id="nameDelete"></span></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Delete">
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function objDelete(name) {
        let arr = name.split(",");
        document.getElementById("nameDelete").innerText = arr[1];
        document.getElementById("idDelete").value = arr[0];
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>