<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Nghe Nhạc</h3>
<p>
    <a th:href="@{/music/create}">
        Add new song
    </a>
</p>
<table id = "music">
    <thead>
    <tr>
        <th>Tên bài hát</th>
        <th>Ca sĩ</th>
        <th>Bài hát</th>
        <th colspan="2">Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musicList}">

        <td th:text="${music.musicName}"></td>

        <td th:text="${music.singleName}"></td>

        <td>
            <audio controls th:src="@{'/music-library/' + ${music.link}}"></audio>
        </td>

        <td>
            <button th:href="@{/music/edit(id=${music.id})}">edit</button>
        </td>
        <td>
            <button th:attr="onclick=|deleteSong(${music.id})|" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/music/delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" hidden id="senId" name="idMusic">
                    <p>Are you sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Close</button>
                    <button type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteSong(id) {
        document.getElementById("senId").value = id;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>