<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="text-align: center">
<h3 style="text-align: center">Danh sách blog</h3>
<p>
    <a th:href="@{/create}">
        Thêm bài
    </a>
</p>

<table>
    <thead>
    <tr>
        <th>Tên blog</th>
        <th>Tiêu đề</th>
        <th>Sửa thông tin</th>
        <th>Xóa sản phẩm</th>
        <th>Xem thông tin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.getBlogName()}"></td>
        <td th:text="${blog.getBlogTitle()}"></td>
        <td><a th:href="@{/{id}/edit(id=${blog.getId()})}">edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${blog.getId()})}">delete</a></td>
        <td><a th:href="@{/{id}/view(id=${blog.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>