<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Danh sách thể loại</h1>
<p>
    <a th:href="@{/blogs}">
        Quay lại danh sách blog
    </a>
</p>
<table class="table table-striped">
    <tr>
        <th>Stt</th>
        <th>Thể loại</th>

    </tr>
    <tr th:each="category,loop : ${categoryList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${category.category}"></td>

    </tr>
</table>
</body>
</html>